{{ define "header" }}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<article class="flex-l justify-between mw9 center ph3">
  <aside class="w-20-l pr4-l dn db-l toc-sidebar">
    {{ if .TableOfContents }}
    <div class="nested-list-reset nested-copy-line-height nested-links">
      <p class="f5 b mb2 mt0">目录</p>
      {{ .TableOfContents }}
    </div>
    {{ end }}
  </aside>

  <div class="w-80-l">
    <header class="mb4">
      <aside class="instapaper_ignoref b helvetica tracked">
        {{with .CurrentSection.Title }}{{. | upper }}{{end}}
      </aside>
      {{ partial "social-share.html" . }}
      <h1 class="f1 athelas mt2 mb2">
        {{- .Title -}}
      </h1>
      {{ with .Params.author }}
      <p class="tracked mt2 mb1">
        By <strong>
          {{ if reflect.IsSlice . }}
          {{ delimit . ", " | markdownify }}
          {{else}}
          {{ . | markdownify }}
          {{ end }}
        </strong>
      </p>
      {{ end }}
      <time class="f6 mv4 dib tracked" {{ printf `datetime="%s" ` (.Date.Format "2006-01-02T15:04:05Z07:00" ) | safeHTMLAttr }}>
        {{- .Date.Format "January 2, 2006" -}}
      </time>
      {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
      <span class="f6 mv4 dib tracked"> - {{ .ReadingTime}} minutes read</span>
      <span class="f6 mv4 dib tracked"> - {{ .WordCount}} words</span>
      {{ end }}
      <div class="mt2">
        {{- partial "tags.html" . -}}
      </div>
    </header>

    <div class="nested-copy-line-height lh-copy {{ $.Param "post_content_classes" | default "serif" }} f4 nested-links nested-img mid-gray">
      {{- .Content -}}
      <div class="mt6 instapaper_ignoref">
        <script src="https://utteranc.es/client.js" repo="ZhongsJie96/ZhongsJie96.github.io" issue-term="pathname"
          label="Comment" theme="github-light" crossorigin="anonymous" async>
          </script>
      </div>
    </div>
  </div>

</article>
{{ end }}
